body {
    font-family: Roboto, apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.signupButton {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 16px;
    padding: 6px 24px;
    align-self: flex-start;
    border-radius: 8px;
}

/* hero/header elements */

.header {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 24px 96px;
    justify-content: space-between;
}

.navBar {
    display: flex;
    flex-wrap: nowrap;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 12px;
    margin-bottom: 56px;
}

.linklist { 
    display: flex;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    font-weight: 300;
}

li {
    margin: 0px 0px 0px 16px;
}

.headerLogo {
    font-size: 24px;
    font-weight: 600;
}

.heroBox {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 36px;
}

.heroText {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.heroTitle {
    font-size: 48px;
    font-weight: 800;
    min-width: 350px;
}

.heroSubtext {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 200;
    margin-bottom: 16px;
}

.imgPlaceholder {
    display: flex;
    background-color: #e5e7eb;
    color: #1F2937;
    min-width: 500px;
    min-height: 250px;
    margin: 16px;
    flex: 1 1 1;
    justify-content: center;
    align-items: center;
}

/* random information elements */

.randomInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 75px;
}

.rinfoTitle {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 36px 24px 24px;
}

.rinfoHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 48px;
    margin: 24px;
}

.rinfoItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 16px 0px 16px;
}

.rinfoBox {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 8%;
    flex: 1 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
}

.rinfoBoxSubtext {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 175px;
}

/* block quote elements */

.quoteBlock {
    background-color: #e5e7eb;
    margin: 24px 0px 0px 0px;
}

.quote {
    margin: 75px 250px;
}

.quoteText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 24px;
}

.quoteAttribution {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

/* call to action elements */

.callToAction {
    display: flex;
    align-self: center;
    background-color: #3882f6;
    border-radius: 8px;
    margin: 100px 48px;
    min-height: 100px;
    min-width: 800px;
    flex:  1 1 1;
    justify-content: space-evenly;
    padding: 20px 36px;
}

.ctaTitle {
    font-size: 20px;
    color: #f9faf8;
}

.ctaText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ctaSubtext {
    color: #e5e7eb;
    font-size: ;
}

.cta {
    border: 2px solid #f9faf8;
    align-self: center;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 36px;
}